@import "../variables";

.big-offer-banner {
  width: 100%;
  // max-width: $theme-container-width;
  // margin: 16px auto;

  a {
    width: 100%;

    img {
      width: 100%;
      height: 280px;
      object-fit: cover;
    }
  }
}

@media(max-width: 599px) {
  .big-offer-banner {
    padding: 0 12px;

    a {
      height: 140px;

      img {
        // height: auto;
        // max-height: 180px;
        // object-fit: contain;
        width: 100%;
        height: 100%
      }
    }
  }
}
