<!-- <div class="cart" [routerLink]="['/', product?.productSlug]">
    
  <div class="img__wrapper">
    <img [defaultImage]="'/assets/images/placeholder/test.png'" [alt]="product?.productName">
  </div>
  <div class="content__wrapper">
    <span class='item__name' routerLink]="['/', product?.productSlug]">{{product?.productName}}</span>
    <p class='brand'>{{product?.generic?.name}}</p>
    <p class='old__price' ngIf="product && product.prices[0].discountAmount > 0">MRP: <del>৳
        {{product?.prices[0].price | number: '': 'bn'}}</del> <span
        class='discount'>{{product ? (product.prices[0] | priceData: 'discountPercentage') : 0}}% OFF</span></p>
    <p class='new__price'>৳{{product.prices[0] | priceData: 'priceWithDiscount' | number: '': 'bn'}}</p>
  </div>
  <div class="btn__strength">
    <p>{{item.strength}}</p>
    <button [routerLink]="['/', product?.productSlug]" class='details__btn'>Details</button>
  </div>
</div> -->
