@import "src/theme/variables";
@import "src/theme/_base";


/**** shop-category ***/
.shop-category {
  margin-top: 150px;
  display: block;
  box-sizing: border-box;
  //margin-top: 40px;
  margin-bottom: 30px;
}

.shop-category-main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 25px 20px;
  grid-template-rows: auto;
  margin-top: 40px;
  padding: 0px 10px;
}

.shop-category-card {
  background-color: #fff;
  border: 1px solid $color-primary;
  box-shadow: 4px 4px 8px #ddd;
  // padding: 10px;
  border-radius: 15px;
  position: relative;
  padding: 5px;
  box-sizing: border-box;
  z-index: 10;
}

.shop-card-img img {
  border-radius: 15px;
  max-height: 130px;
  object-fit: contain;
  margin: auto;
}

.shop-card-title {
  display: block;
  // // position: absolute;
  // bottom: 10px;
  left: 0px;
  width: 100%;
  text-align: center;
  // padding: 9px 2px;
}

.shop-card-title a {
  color: $color-primary-2;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-family: $font-en-primary;
  transition: all 0.3s linear;
}

.shop-category-card:hover a {
  color: $color-secondary;
}

@media(max-width: 1000px) {
  .shop-category-main {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
  }
}

// @media(max-width: 600px) {
//   .shop-category-main {
//     grid-template-columns: repeat(4, 1fr);

//     .shop-category-card {
//       height: 140px;
//     }
//   }

// }

@media(max-width: 500px) {
  .shop-card-title a {
    font-size: 13px;
  }
}

@media(max-width: 600px) {
  .shop-category-main {
    grid-template-columns: repeat(3, 1fr);

    .shop-category-card {
      height: 140px;

      .shop-card-img {
        height: 90px;

        a {
          height: 100%;

          img {
            height: 100%;
          }
        }
      }

      .shop-card-title {
        padding: 0px;
        height: 30px
      }
    }
  }



}

.pagination-container {
  width: 1440px;
  margin: 36px auto;
  text-align: center;

  @media(max-width: $small_device) {
    width: 100%;
  }
}
